body {background-color: #f2faf9; 
font-family: Courier, Courier New, FreeMono, monospace;
}

#firstp {
    font-weight: bold; 
    text-align: center;
    font-size: 125%;
    padding-top: 20px;
}

.subheading {
    font-style: italic;
}

h3 {
    color: #dc84a4;
    text-decoration: overline;
    word-spacing: 0.3 em;
}

h3::first-letter{font-size: 150%}

h2 {
    color: #f88b8b;
    font-family: 'Caveat', cursive;
    font-size: 200%;
    font-weight: 800;
    text-align: center;
}

p {
    color: #ffb745;
}

li {
    line-height: 2em;
}

#menubar {
    text-align: center;
    display: inline;
    margin-right: 20px;}

tr, td {border: 1px solid purple;
padding: 20px;
border-radius: 15px
}

table {
    width: 65%;
    float: left;
}

#aboutme li { list-style-type: lower-roman; }

.contact { clear: left;}

tr.even {
    background-color: lightyellow;
    transition: .5s;
}
tr.even:hover {background-color: palegreen;}

a:hover {text-decoration: underline; color:darkred}